<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Common Mapper -->
<mapper namespace="MySQLMapper">
	<!-- Paging Start -->
	<sql id="pagingStart"></sql>
	
	<!-- Paging End -->
	<sql id="pagingEnd">
		<if test="pagination!=null and pagination.start != null and pagination.pageSize != null">
			limit ${pagination.start}, ${pagination.pageSize}
		</if>
	</sql>

	<!-- query result Sort information -->
	<sql id="sortInfo">
		<if test=" sort != null and sort != '' and dir != null and dir != ''">
			ORDER BY ${sort} ${dir}
		</if>
	</sql>
</mapper>